# Directorios de compilación y salida
dist/
build/
out/
api_docs/

# Dependencias de Node.js
node_modules/

# Archivos de mapas de origen (Source Maps)
*.map

# Archivos de definición de tipos generados (si no los usas en tu código)
*.d.ts

# Archivos de log y temporales
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno (¡nunca las subas!)
.env
.env.*

# Archivos de IDE/Sistema (ejemplos)
.vscode/
.DS_Store

.npmrc
